<ion-content padding>

    <form #form="ngForm" (ngSubmit)="enviarFormulario()">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title style="text-align: center; font-family: sans-serif; ">
                    ISTA-NOTE
                    <!--Este es el nombre de la pagina de login
                    -->
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-list>
            <br>
            <br>
            <br>
            <img class="icon" src="assets/icon/descarga.png" alt="Logo_instituto">
            <br>
            <br>
            <br>
            <ion-item>
                <ion-label position="floating">User</ion-label>
                <ion-input type="text" [(ngModel)]="usuarioIn" name="usuarioIn" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="text" [(ngModel)]="contraseniaIn" name="contraseniaIn" required></ion-input>
            </ion-item>
            <br>
            <br>
            <ion-button expand="block" type="submit" [disabled]="form.invalid">
                Login
            </ion-button>

        </ion-list>


    </form>
</ion-content>